@model StatefulServiceViewModel
@{
    ViewData["Title"] = "StatefulService";
}
<h2>@ViewData["Title"]</h2>

<h3><strong>Application Name:</strong>@Model.AppName</h3>
<h4><strong>StatefulService Name:</strong>@Model.ServiceName</h4>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
    .tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<tr>
    <th class="tg-1wig">Collection Type</th>
    <th class="tg-1wig">Collection Name</th>
    @*<th class="tg-1wig">Count</th>*@
</tr>
@foreach (var item in Model.Collections)
{
<tr>
    <td class="tg-0lax">@item.Type</td>
    @if (@item.Type.Contains("DistributedDictionary"))
    {
        <td class="tg-0lax"><a href="@item.Url">@item.Name</a></td>
    }
    else
    {
        <td class="tg-0lax">@item.Name</td>
    }

    @*<td class="tg-0lax">@item.Count</td>*@
</tr>
}
</table>
